.venv/
/venv
__pycache__/
.original_bimt/
.DS_Store
.vscode/
wandb/
.others/
**/*.html
.runs/
.others/
**/mnist_data/
**/fashion_mnist_data/
**/pdfs/

**/LT

### LATEX
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lol
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Generated if empty string is given at "Please type another file name for output:"
main.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
project/analysis/fashion-graphs/active-0.graphml
project/analysis/fashion-graphs/active-1.graphml
project/analysis/fashion-graphs/active-2.graphml
project/analysis/fashion-graphs/active-3.graphml
project/analysis/fashion-graphs/active-4.graphml
project/analysis/fashion-graphs/active-5.graphml
project/analysis/fashion-graphs/active-6.graphml
project/analysis/fashion-graphs/active-7.graphml
project/analysis/fashion-graphs/active-8.graphml
project/analysis/fashion-graphs/active-9.graphml
project/analysis/fashion-graphs/active-10.graphml
project/analysis/fashion-graphs/active-11.graphml
project/analysis/fashion-graphs/active-12.graphml
project/analysis/fashion-graphs/active-13.graphml
project/analysis/fashion-graphs/active-14.graphml
project/analysis/fashion-graphs/active-15.graphml
project/analysis/fashion-graphs/active-16.graphml
project/analysis/fashion-graphs/active-17.graphml
project/analysis/fashion-graphs/active-18.graphml
project/analysis/fashion-graphs/unpruned-0.graphml
project/analysis/fashion-graphs/unpruned-1.graphml
project/analysis/fashion-graphs/unpruned-2.graphml
project/analysis/fashion-graphs/unpruned-3.graphml
project/analysis/fashion-graphs/unpruned-4.graphml
project/analysis/fashion-graphs/unpruned-5.graphml
project/analysis/fashion-graphs/unpruned-6.graphml
project/analysis/fashion-graphs/unpruned-7.graphml
project/analysis/fashion-graphs/unpruned-8.graphml
project/analysis/fashion-graphs/unpruned-9.graphml
project/analysis/fashion-graphs/unpruned-10.graphml
project/analysis/fashion-graphs/unpruned-11.graphml
project/analysis/fashion-graphs/unpruned-12.graphml
project/analysis/fashion-graphs/unpruned-13.graphml
project/analysis/fashion-graphs/unpruned-14.graphml
project/analysis/fashion-graphs/unpruned-15.graphml
project/analysis/fashion-graphs/unpruned-16.graphml
project/analysis/fashion-graphs/unpruned-17.graphml
project/analysis/fashion-graphs/unpruned-18.graphml
project/analysis/mnist-fashion-mnist-graphs/active-0.graphml
project/analysis/mnist-fashion-mnist-graphs/active-1.graphml
project/analysis/mnist-fashion-mnist-graphs/active-2.graphml
project/analysis/mnist-fashion-mnist-graphs/active-3.graphml
project/analysis/mnist-fashion-mnist-graphs/active-4.graphml
project/analysis/mnist-fashion-mnist-graphs/active-5.graphml
project/analysis/mnist-fashion-mnist-graphs/active-6.graphml
project/analysis/mnist-fashion-mnist-graphs/active-7.graphml
project/analysis/mnist-fashion-mnist-graphs/active-8.graphml
project/analysis/mnist-fashion-mnist-graphs/active-9.graphml
project/analysis/mnist-fashion-mnist-graphs/active-10.graphml
project/analysis/mnist-fashion-mnist-graphs/active-11.graphml
project/analysis/mnist-fashion-mnist-graphs/active-12.graphml
project/analysis/mnist-fashion-mnist-graphs/active-13.graphml
project/analysis/mnist-fashion-mnist-graphs/active-14.graphml
project/analysis/mnist-fashion-mnist-graphs/active-15.graphml
project/analysis/mnist-fashion-mnist-graphs/active-16.graphml
project/analysis/mnist-fashion-mnist-graphs/active-17.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-0.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-1.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-2.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-3.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-4.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-5.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-6.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-7.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-8.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-9.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-10.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-11.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-12.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-13.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-14.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-15.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-16.graphml
project/analysis/mnist-fashion-mnist-graphs/unpruned-17.graphml
project/analysis/mnist-graphs/active-0.graphml
project/analysis/mnist-graphs/active-1.graphml
project/analysis/mnist-graphs/active-2.graphml
project/analysis/mnist-graphs/active-3.graphml
project/analysis/mnist-graphs/active-4.graphml
project/analysis/mnist-graphs/active-5.graphml
project/analysis/mnist-graphs/active-6.graphml
project/analysis/mnist-graphs/active-7.graphml
project/analysis/mnist-graphs/active-8.graphml
project/analysis/mnist-graphs/active-9.graphml
project/analysis/mnist-graphs/active-10.graphml
project/analysis/mnist-graphs/active-11.graphml
project/analysis/mnist-graphs/active-12.graphml
project/analysis/mnist-graphs/active-13.graphml
project/analysis/mnist-graphs/active-14.graphml
project/analysis/mnist-graphs/active-15.graphml
project/analysis/mnist-graphs/active-16.graphml
project/analysis/mnist-graphs/active-17.graphml
project/analysis/mnist-graphs/active-18.graphml
project/analysis/mnist-graphs/unpruned-0.graphml
project/analysis/mnist-graphs/unpruned-1.graphml
project/analysis/mnist-graphs/unpruned-2.graphml
project/analysis/mnist-graphs/unpruned-3.graphml
project/analysis/mnist-graphs/unpruned-4.graphml
project/analysis/mnist-graphs/unpruned-5.graphml
project/analysis/mnist-graphs/unpruned-6.graphml
project/analysis/mnist-graphs/unpruned-7.graphml
project/analysis/mnist-graphs/unpruned-8.graphml
project/analysis/mnist-graphs/unpruned-9.graphml
project/analysis/mnist-graphs/unpruned-10.graphml
project/analysis/mnist-graphs/unpruned-11.graphml
project/analysis/mnist-graphs/unpruned-12.graphml
project/analysis/mnist-graphs/unpruned-13.graphml
project/analysis/mnist-graphs/unpruned-14.graphml
project/analysis/mnist-graphs/unpruned-15.graphml
project/analysis/mnist-graphs/unpruned-16.graphml
project/analysis/mnist-graphs/unpruned-17.graphml
project/analysis/mnist-graphs/unpruned-18.graphml
