.venv/
/venv
__pycache__/
.original_bimt/
.DS_Store
.vscode/
wandb/
.others/
**/*.html
.runs/
.others/
**/mnist_data/
**/fashion_mnist_data/
**/pdfs/

**/LT

### LATEX
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Generated if empty string is given at "Please type another file name for output:"
main.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync